sonar.jdbc.username={{sonar_db_user}}
sonar.jdbc.password={{sonar_db_pass}}
sonar.jdbc.url=jdbc:mysql://{{sonar_db_host}}:{{sonar_db_port}}/{{sonar_db_name}}?useUnicode=true&characterEncoding={{sonar_db_encoding}}
